<div class="modular-row youtube">
    <h2>{{ page.title }}</h2>
    <div class="video-container">
        <iframe src="//www.youtube-nocookie.com/embed/{{ page.header.video }}?autohide={{ page.header.autohide }}&amp;rel={{ page.header.related }}&amp;showinfo={{ page.header.showinfo }}" frameborder="0" allowfullscreen=""></iframe>
    </div>
    {{ content }}
</div>