{% embed 'partials/base.html.twig' %}

  {% set base_url = page.url %}

  {% block content %}

    <h1>{{ page.header.title }}</h1>

    {{ page.content }}

    {% for post in taxonomy.findTaxonomy({'category':'qualification-type'}) %}
        <h3><a href="{{ base_url }}/{{ post.slug }}">{{ post.title }}</a></h3>
        <p>{{ post.summary }} <a class="button" href="{{ base_url }}/{{ post.slug }}">Read more</a></p>
    {% endfor %}

  {% endblock %}

{% endembed %}